<html>
  <head>
    <!-- <meta
      name="google-signin-client_id"
      content="716089822297-mtao8nilk5g83qa88vth8mq2v6rd994s.apps.googleusercontent.com"
    /> -->
  </head>
  <body>
    <script>
      function handleCredentialResponse(res) {
        console.log('res====', res);
      }
    </script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div
      id="g_id_onload"
      data-client_id="716089822297-mtao8nilk5g83qa88vth8mq2v6rd994s.apps.googleusercontent.com"
      data-callback="handleCredentialResponse"
    ></div>
    <div class="g_id_signin" data-type="standard"></div>
  </body>
</html>
